body{
    background-color: azure;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

form{
    
    width: 400px;
    height: 600px;
    background-color: aqua;
    
}
h1{
    text-align: center;
    margin-bottom: 20px;
    
}
form * {
    margin-left: 20px;

}
label{
    display: block;
    font-size: 16px; 
    margin-top: 15px;
}


input{
    width: 350px;
    height: 30px;

}
.radio{
    width: 20px;

}
textarea{
    resize: none;
}
.genero{
    display: inline-block;
    margin: 0;
    height: auto;
    text-align: center;
}
#sub{
    width: 20px;
    height: auto    ;
}
select{
    width: 300px;
    height: 30px;
}
button{
    align-self:  center;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(57, 56, 63);
    font-size: larger;
    color: aliceblue;
}